<div class="globalContainer">
    <div class="container2">
      <div *ngIf="book | async as bookInfo" class="bookInfo">
        <div class="imageBook">
          <img src={{bookInfo.urlImage}} alt="Изображение книги">
          <p>{{bookInfo.name}}, {{bookInfo.author.fullName}}</p>
        </div>
      </div>
    </div>

     <div class="container2">
       <label style="margin-bottom: 30px"><h5>Данные для отправки книги</h5></label>
       <input type="text" placeholder="Адрес получателя"/>
       <br>
       <p><button class="btn btn-dark" type="submit">Отправить</button></p>
    </div>

</div>

