.row {
  justify-content: center;
  width: 100%;
}

.dropdown {
  padding-top: 30px;
  text-align: center;
}

.dropdown button {
  color: black;
  background: lightgrey;
}

.globalBookContainer {
  height: 100%;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 330px);
  justify-content: center;
}

.book {
  text-align: center;
  padding-bottom: 50px;
}

.book a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.book a:hover {
  transition: all 0.4s;
  color: indigo;
}

.book img:hover {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
  opacity: 1;
  cursor: pointer;
}
.book img {
  opacity: 0.9;
  width: 50%;
  height: 250px;
  padding-bottom: 10px;
}
