<div *ngFor="let book of books | async" class="globalBookContainer">
      <div class="book" >
        <img width="70%" height="120%" src="https://d2w9rnfcy7mm78.cloudfront.net/3401137/display_f636776b49109be08068df6291d0e491.jpg?1547419475?bc=1">
        <br>
        <a href="#">{{book.name}}</a>
      </div>
      <br>
<!--      <div class="book">-->
<!--          <img width="70%" height="120%" src="https://d2w9rnfcy7mm78.cloudfront.net/3401137/display_f636776b49109be08068df6291d0e491.jpg?1547419475?bc=1">-->
<!--        <br>-->
<!--        <a href="#">Название книги </a>-->
<!--      </div>-->
<!--      <div class="book">-->
<!--          <img width="70%" height="120%" src="https://d2w9rnfcy7mm78.cloudfront.net/3401137/display_f636776b49109be08068df6291d0e491.jpg?1547419475?bc=1">-->
<!--        <br>-->
<!--        <a href="#">Название книги </a>-->
<!--      </div>-->
<!--      <div class="book">-->
<!--          <img width="70%" height="120%" src="https://d2w9rnfcy7mm78.cloudfront.net/3401137/display_f636776b49109be08068df6291d0e491.jpg?1547419475?bc=1">-->
<!--        <br>-->
<!--        <a href="#">Название книги </a>-->
<!--      </div>-->
<!--      <div class="book">-->
<!--        <img width="70%" height="120%" src="https://d2w9rnfcy7mm78.cloudfront.net/3401137/display_f636776b49109be08068df6291d0e491.jpg?1547419475?bc=1">-->
<!--        <br>-->
<!--        <a href="#">Название книги </a>-->
<!--      </div>-->
<!--      <div class="book">-->
<!--          <img width="70%" height="120%" src="https://d2w9rnfcy7mm78.cloudfront.net/3401137/display_f636776b49109be08068df6291d0e491.jpg?1547419475?bc=1">-->
<!--        <br>-->
<!--        <a href="#">Название книги </a>-->
<!--      </div>-->
<!--      <div class="book">-->
<!--          <img width="70%" height="120%" src="https://d2w9rnfcy7mm78.cloudfront.net/3401137/display_f636776b49109be08068df6291d0e491.jpg?1547419475?bc=1">-->
<!--        <br>-->
<!--        <a href="#">Название книги </a>-->
<!--      </div>-->
<!--      <div class="book">-->
<!--          <img width="70%" height="120%" src="https://d2w9rnfcy7mm78.cloudfront.net/3401137/display_f636776b49109be08068df6291d0e491.jpg?1547419475?bc=1">-->
<!--        <br>-->
<!--        <a href="#">Название книги </a>-->
<!--      </div>-->
    </div>
