<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Выберете жанр
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <div *ngFor="let genre of genres | async" class="item-menu">
      <a class="dropdown-item" href="#">{{genre.name}}</a>
    </div>
  </div>
</div>

<div  class="globalBookContainer">
    <div *ngFor="let book of books | async" class="book" >
      <a  [routerLink]="['/info-book', book.id]"> <img width="50%" height="100%" src={{book.urlimage}} alt="Изображение книги"></a>
      <br>
      <a routerLink="/info-book">{{book.name}}, {{book.author.fullName}}</a>
    </div>
    <br>
</div>
