.book {
  padding-top: 20px;
  padding-bottom: 51px;
  width: 100%;
  display: grid;
  grid-template-columns: calc(50% - 10px) calc(50% - 10px);
  gap: 20px;
}

.imageBook {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.imageBook img {
  height: 400px;
  width: auto;
}

.text {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  font-size: 26px;
  align-items: center;
}


