<div class="globalWrapContainer">
  <div *ngIf="book | async as bookinfo" class="book">

    <div class="imageBook">
      <img src={{bookinfo.urlImage}} alt="Изображение книги">
      <div *ngIf="isLoggedIn; then authorized"></div>
      <ng-template #authorized>
        <div *ngIf="bookDTO | async as bookdto">
          <div *ngIf="!bookdto.isRated; then ratedme; else noratedme"></div>
          <ng-template #ratedme>
            <form (ngSubmit)="onSubmit()">
              <label for="username"><b>Оценить:  </b></label>
              <input style="width: 60px" id="username" type="number" min="1" max="10" placeholder="1..10" name="login" [(ngModel)]="rating">
              <button style="margin-left: 10px" type="submit" class="btn btn-dark">Оценить</button>
            </form>
          </ng-template>
          <ng-template #noratedme>
            <a>Вы уже ставили оценку этой книге</a>
          </ng-template>
        </div>
      </ng-template>
      <a>Рейтинг: <span style="font-weight: bold; color: #1b5f5f">{{bookinfo.rating}}</span> /10</a>
      <a>Просмотров: <span style="font-weight: bold">{{bookinfo.totalViews}}</span></a>
    </div>
    <div class="text">
      <a style="font-weight: bold">{{bookinfo.name}}</a>
      <a>Автор: {{bookinfo.author.fullName}}</a>
      <a>Жанр: {{bookinfo.genre.name}}</a>
      <a>Цена: <span style="font-weight: bold">{{bookinfo.price}} руб.</span></a>
    </div>
    <div class="buttonsLayout">
      <button class="btn btn-dark" type="submit" [routerLink]="['/buy', bookinfo.id]">Заказать печатную версию</button>
      <div *ngIf="userDTO | async as userdto">
        <div *ngIf="userdto.hasSub; then hasSubscription"></div>
        <ng-template #hasSubscription>
          <button class="btn" style="background: #1b5f5f">
            <!--TODO(Kuptsov) MAJOR: Кнопка не нажимается, пока ничего не нажмёшь (просто лкм по тексту считается) на странице -->
            <a style="text-decoration: none; color: white" href="https://potter-1.bib.bz/">Читать (подписка)</a></button>
          <ngx-audio-player [playlist]="msaapPlaylist" [displayTitle]="msaapDisplayTitle" [autoPlay]="false"
                            muted="muted" [displayPlaylist]="msaapDisplayPlayList" [pageSizeOptions]="msaapPageSizeOptions"
                            [displayVolumeControls]="msaapDisplayVolumeControls" [disablePositionSlider]="msaapDisablePositionSlider"
                            [displayArtist]="msaapDisplayArtist" [displayDuration]="msaapDisplayDuration"
                            [expanded]="true"></ngx-audio-player><br>
        </ng-template>
      </div>
      <div *ngIf="userBoughtDTO | async as userfbdto">
        <div *ngIf="userfbdto.bought; then bought; else didntbought"></div>
        <ng-template #bought>
          <button class="btn btn-dark" type="submit"
                  onclick="location.href='https://avidreaders.ru/api/get.php?b=13640&f=pdf'">Скачать
          </button>
        </ng-template>
        <ng-template #didntbought>
          <div *ngIf="userDTO | async as userdto1">
            <div *ngIf="userdto1.hasFreeBook; then hasFreeBook"></div>
            <ng-template #hasFreeBook>
              <form (ngSubmit)="onSubmitButtonBuyBySubscription()">
                <button class="btn" style="background: #1b5f5f;" type="submit">Бесплатно (подписка)</button>
              </form>
            </ng-template>
            <form style="width: 100%; display: flex; justify-items: center; justify-content: center;" (ngSubmit)="onSubmitButtonBuy()">
              <button style="background: indigo " class="btn" type="submit">Купить</button>
            </form>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
