
.dropdown-menu {
  text-align: center;
  background: white;
  opacity: .9;
  left: auto;
  right: 0;
}

.bucketButton {
  opacity: 0.75;
  background: inherit;
  border: none;
  padding-right: 30px;
  padding-left: 63px;
}

.bucketButton:focus {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
  opacity: 0.9;
  cursor: pointer;
  outline: none;
}

.bucketButton img {
  background: inherit;
}

.bucketButton:hover {
  opacity: .9;
}

li {
  list-style-type: none;
}

ul {
  padding-top: 5px;
  margin-left: 0;
  padding-left: 0;
}

a {
  color: black;
  font-weight: bold;
}

span {
  font-weight: lighter;
  color: #071f0a;
}
