<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top" role="navigation">
  <a class="navbar-brand" href="#"><img alt="PerfLib" class="brandImage" width="150px" height="50px" src="../assets/images/brand.png"></a>
  <div class="mobileButton">
    <div class="btn-group">
      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
        Меню
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="">Главная</a>
        <a class="dropdown-item" routerLink="/books">Книги</a>
        <a class="dropdown-item" routerLink="/books/popular">Популярное</a>
        <a class="dropdown-item" routerLink="/books/new">Новинки</a>
      </div>
    </div>
  </div>
  <ul class="desktopMenu">
    <li><a routerLink="" routerLinkActive="active"> <span style="font-weight: bold"> Главная </span></a></li>
    <li><a routerLink="/books" routerLinkActive="active"> Книги </a></li>
    <li><a routerLink="/books/popular" routerLinkActive="active"> Популярное</a></li>
    <li><a routerLink="/books/new" routerLinkActive="active"> Новинки</a></li>
  </ul>
  <form (ngSubmit)="getSearchFieldAndSendInTransfer()" class="d-flex searchForm" >

    <input class="searchInput" type="search" value="" placeholder="Поиск" name="search" [(ngModel)]="searchField" >
    <button style="width: 40px;" class="submitSearchButton" type="submit" name="submitSearchButton"><img alt="Найти" width="30px"
                                                                                                         src="./assets/images/search.png">
    </button>
  </form>
  <app-nav-bucket></app-nav-bucket>
  <app-nav-user></app-nav-user>
</nav>

<main>
  <router-outlet></router-outlet>
</main>

<footer class="footer">
  <div class="main-footer widgets-dark typo-light">
    <div class="container">
      <div class="row">
        <div class="col">
          <h5 class="widget"><a href="#"><img alt="PerfLib" src="./assets/images/1.png"></a></h5>
        </div>
        <div class="aboutUs">
          <a href="#.">О нас</a>
          <a href="#.">Контакты</a>
          <a href="#.">Помощь</a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <p><a>PerfLib © 2020. Все права защищены.</a></p>
  </div>
</footer>

