<div [hidden]="!submitted" class="alert-info globalContainer" style="text-align: center; height: 200px; padding: 50px">
  <h2>Ваш аккаунт успешно зарегистрирован!</h2>
  <h4>Теперь Вы можете войти в свой аккаунт</h4>
</div>

<div [hidden]="submitted" class="globalContainer">
  <form (ngSubmit)="onSubmit()">
    <div class="container2">
      <hr>
      <h2 style="text-align: center;">Регистрация</h2>
      <hr>
      <label for="email"><b>@e-mail<span>*</span></b></label>
      <input id="email" type="text" placeholder="e-mail" name="email" required [(ngModel)]="user.email">

      <label for="username"><b>Логин<span>*</span></b></label>
      <input id="username" type="text" placeholder="Логин" name="login" required [(ngModel)]="user.username">

      <label for="password"><b>Пароль<span>*</span></b></label>
      <input id="password" type="password" placeholder="6 симовлов" name="psw" required
             [(ngModel)]="user.password">

      <label for="passwordRepeat"><b>Повторите пароль<span>*</span></b></label>
      <input id="passwordRepeat" type="password" placeholder="Повторите" name="psw-repeat" required>
      <p style="font-size: 0.7em;">Регистрируясь, Вы соглашаетесь с <a href="#">Политикой</a></p>
      <button style="margin-bottom: 30px;" type="submit" class="registerbtn">Зарегистрироваться</button>
    </div>
  </form>
</div>
