<div class="globalContainer">
  <form action="/controller-registration">
    <div class="container2">
      <h1 style="text-align: center;">Регистрация</h1>
      <p style="text-align: center;">Зарегистрируйте новый аккаунт</p>
      <hr>

      <label for="email"><b>@e-mail</b></label>
      <input id="email" type="text" placeholder="e-mail" name="email" required>

      <label for="username"><b>Логин</b></label>
      <input id="username" type="text" placeholder="Логин" name="email" required>

      <label for="password"><b>Пароль</b></label>
      <input id="password" type="password" placeholder="Придумайте пароль" name="psw" required>

      <label for="passwordRepeat"><b>Повторите пароль</b></label>
      <input id="passwordRepeat" type="password" placeholder="Повторите пароль" name="psw-repeat" required>
      <hr>
      <p style="text-align: center;">Регистрируясь, Вы соглашаетесь с <a href="#">Политикой</a></p>

      <button type="submit" class="registerbtn">Зарегистрироваться</button>
    </div>
  </form>
</div>
