<div class="container">
  <hr>
  <h1>Рекомендуем прочитать</h1>
  <hr>
</div>
<div class="slider-container">
  <div class="carousel">
    <div class="items" [ngStyle]="getTransformStyles()">
      <div *ngFor="let page of arrPages" class="container-items">
        <div class="list-item" *ngFor="let sortedItem of sortedItems[page-1]">
          <a [routerLink]="['/info-book', sortedItem.id]">
            <img [src]="sortedItem.urlImage" alt="Изображение книги"><br>{{sortedItem.author.fullName}}, {{sortedItem.name}}</a>
        </div>
      </div>
    </div>
    <div class="controls" *ngIf="arrPages.length > 1">
      <button style="background: inherit" (click)="move(-1)">
        ←
      </button>
      <span *ngFor="let page of arrPages"
            [ngStyle]="getSpanStyles(page)"></span>
      <button style="background: inherit" (click)="move(1)">
        →
      </button>
    </div>
  </div>
</div>
