<div class="globalContainer">
<div class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="card" style="width: 18rem;">
        <img src="../assets/images/books.jpg" class="card-img-top" alt="...">
        <div  class="card-body">
          <h5 style="color: indigo;" class="card-title">Специально для вас:</h5>
          <p class="card-text">Рекомендация 1.</p>
          <a href="#" class="btn btn-primary">Подробнее о книге</a>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card" style="width: 18rem;">
        <img src="../assets/images/books.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 style="color: indigo;" class="card-title">Специально для вас:</h5>
          <p class="card-text">Рекомендация 2.</p>
          <a href="#" class="btn btn-primary">Подробнее о книге</a>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card" style="width: 18rem;">
        <img src="../assets/images/books.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 style="color: indigo;" class="card-title">Специально для вас:</h5>
          <p class="card-text">Рекомендация 3.</p>
          <a href="#" class="btn btn-primary">Подробнее о книге</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="card" style="width: 18rem;">
        <img src="../assets/images/books.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 style="color: #008b8b;" class="card-title">Новинки месяца:</h5>
          <p class="card-text">Новика 1.</p>
          <a href="#" class="btn btn-primary">Подробнее о книге</a>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card" style="width: 18rem;">
        <img src="../assets/images/books.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 style="color: #008b8b;" class="card-title">Новинки месяца:</h5>
          <p class="card-text">Новика 2.</p>
          <a href="#" class="btn btn-primary">Подробнее о книге</a>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card" style="width: 18rem;">
        <img src="../assets/images/books.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 style="color: #008b8b;" class="card-title">Новинки месяца:</h5>
          <p class="card-text">Новика 3.</p>
          <a href="#" class="btn btn-primary">Подробнее о книге</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
