html, body {
  margin: 0 auto; /*чтобы центрировать контент при превышении max-width*/
  min-width: 900px;
  max-width: 2000px;}

body {
  background-image: url(https://wallpaperaccess.com/full/1109079.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;}

.categories {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  background: white;
  opacity: 1; }

.categories:hover { background: snow;}

.categories a {
  padding-right: 1%;
opacity: none;
margin: 1%;
color: black;
outline: none;
text-decoration: none;
font-weight: bold;
font-size: 120%; }

.categories a:hover {
  transition: all 0.7s;
  color: #36694c;
  opacity: .8; }

#submitSearchButton {
  margin-top: 1%;
  height: 0.5%;;
  border: none;
  border-radius: 20px;
  background: #86bf9f;
  opacity: .7; }

#submitSearchButton:hover {
  opacity: .9;
  background: #86bf9f; }

#searchInput  {
  padding-left: 7%;
  opacity: .75;
  background: snow;
  border: none;
  border-radius: 10px;
  outline: none; }

#searchInput:hover {
  opacity: .6;
  background: snow;
  border: none;
  outline: none; }

#searchInput:selected {
  opacity: 1;
  background: snow;
  border: none;
  cursor: none; }

#searchInput::placeholder {
  color: black;
  text-align: center; }

#authButton  {
  border: none;
  opacity: .8;
  color: black;
  width: 5%;
  font-size: 120%;
  border-radius: 10%;
  font-weight: bold; }

#authButton:hover {
  background:	white;
  opacity: 1;
  color: indigo; }

#bucket {
  padding-left: 12%;
  padding-right: 2%;
  opacity: .9; }

#bucket:hover {
  opacity: .7; }

footer .main-footer{padding: 0.6% 0.1% 0 0; background: #65837B; margin-top: 20%; opacity: .95}
footer ul{ padding-left: 0; list-style: none; text-align: center;}
.logoImage img {
  position: absolute;
  left: 41%;
  top: 6%;
}
.footer-copyright {opacity: .9; background: #222; padding: 5px 0;}
.footer-copyright p { color: white; margin: 0 0 0; text-align: center;}
.footer-copyright a {color: lightgrey; margin: 0 0 0; text-decoration: none;}

.widget { padding: 20px; margin-bottom: 40px;}
.widget.no-box {
  padding: 0;
  background-color: transparent;
  margin-bottom: 40px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none; }
.widget li a{ color: white; text-decoration: none;}
.widget li a:hover{ color: #86bf9f;}
.widget-title {margin-bottom: 10px;}

.typo-light h1, .typo-light h2, .typo-light h3, .typo-light h4, .typo-light h5,
.typo-light h6, .typo-light p, .typo-light div, .typo-light small{ color: white;}

.globalBookContainer {
  display: flex;
  flex-direction: column;
}
.mainBooksContainer {
  display: flex;
  flex-direction: row;
  margin: 3% 0 0 0;
  padding: 10% 0 0 0;
 }

.book {text-align: center; }

.book a {
  color: black;
  font-weight: bold;
  text-decoration: none; }

.book a:hover {
   transition: all 0.7s;
  color: indigo; }

.book img:hover {
  -webkit-transform: scale(0.95);
 -ms-transform: scale(0.95);
 transform: scale(0.95);
  opacity: 0.7;
  cursor: pointer; }
