/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
html, body {
  margin: 0 auto; /*чтобы центрировать контент при превышении max-width*/
  padding: 0;
  min-width: 900px;
  max-width: 2000px;}
body {
  background-image: url(./assets/images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  height: 100vh;
}
