/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
html, body {
  margin: 0 auto; /*чтобы центрировать контент при превышении max-width*/
  padding: 0;
  width: 100%;
}

body {
  background-image: url(./assets/images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
*, *::before, *::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, ul, li, ol, img {
  margin: 0;
  padding: 0;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
