<div class="dropdown">
  <button class="nav-text" id="authButton" type="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false" name="authButton"><img alt="Войти" width="35px;" src="./assets/images/login.png"></button>
  <div class="dropdown-menu" aria-labelledby="authButton">
    <div *ngIf="!isLoggedIn; then unauthorized else authorized"></div>
    <ng-template #unauthorized>
      <div class="form-group">
        <div class="alert alert-danger" *ngIf='invalidLogin'>{{errorMessage}}</div>
        <hr>
        <span style="font-weight: lighter;">Авторизация</span>
        <hr>
        <input type="text" [(ngModel)]="username" name="authEmail"
               id="authEmail" placeholder="Логин">
      </div>
      <hr>
      <div class="form-group">
        <input type="password" [(ngModel)]="password" id="authPassword"
               placeholder="Пароль" name="password">
      </div>
      <hr>
      <button id="signInButton" (click)="handleLogin()" type="button"
              class="btn btn-primary">Войти
      </button>
      <a routerLink="/registration"> Регистрация </a>
    </ng-template>
    <ng-template #authorized>
      <hr>
      Вы вошли как <span> {{this.authService.getLoggedInUserName()}}</span>
      <hr>
      <a style="color: #1b5f5f;" routerLink="/subscriptions">Оформить подписку</a>
      <br>
      <hr>
      <button (click)="handleLogout()" style="margin-bottom: 5%; border: none; color: black; background: silver;"
              type="submit"
              class="btn btn-primary">Выйти
      </button>
    </ng-template>
  </div>
</div>
