<div class="dropdown">
  <button class="nav-text" id="authButton" type="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false" name="authButton"><img width="35px;" src="./assets/images/login.png"></button>
  <div class="dropdown-menu" aria-labelledby="authButton">
    <div *ngIf="!isLoggedIn; then unauthorized else authorized"></div>
    <ng-template #unauthorized>
      <div class="form-group">
        <div class="alert alert-danger" *ngIf='invalidLogin'>{{errorMessage}}</div>
        <label for="authEmail">User address:</label>
        <input  style="opacity: .8;" type="text" class="form-control" [(ngModel)]="username" name="authEmail" id="authEmail" placeholder="Логин">
      </div>
      <div class="form-group">
        <label for="authPassword">Password:</label>
        <input style="opacity: .8;" type="password" class="form-control" [(ngModel)]="password" id="authPassword" placeholder="Пароль" name="password">
      </div>
      <button style="margin-bottom: 5%; border: none; color: black; background: silver;" (click)="handleLogin()" type="button"
              class="btn btn-primary">Войти
      </button>
      <a routerLink="/registration" style="text-decoration: none; color: black;"> Регистрация </a>
    </ng-template>
    <ng-template #authorized>
      <hr>
      Вы вошли как <span> {{this.authService.getLoggedInUserName()}}</span>
      <hr>
      <br>
      <button (click)="handleLogout()" style="margin-bottom: 5%; border: none; color: black; background: silver;"
              type="submit"
              class="btn btn-primary">Выйти
      </button>
    </ng-template>
  </div>
</div>
